<header>
  <div class="navbar navbar-dark bg-secondary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style='font-size: 30px; margin-left: 10px;' class="fas fa-shipping-fast"></i>
      <strong style='margin-left: 10px;'>Shopping Cart</strong>
      <div class="form-group">
        <input type="text" class='form-control' placeholder='Search a product'>
      </div>
      <span class='fas fa-search search-icon'></span>
    </div>
    <button style='margin-right: 20px;' class="btn btn-primary">
      <i style='font-size:20px;' class="fas fa-cart-plus"></i>
      <div style='font-size: 10px;' class="badge bg-danger">3</div>
    </button>
  </div>
</header>